MODE=development
PORT=5001

SERVER_URL=http://localhost:5001

TOKEN_VERIFICATION_EXPIRE=86400 # 1d in s

DEVICE_ID_SECRET=secret
DEVICE_ID_EXPIRE=31536000 # 1y in s

DATABASE_DEFAULT_HOST=localhost
DATABASE_DEFAULT_PORT=5432
DATABASE_DEFAULT_USERNAME=root
DATABASE_DEFAULT_PASSWORD=root
DATABASE_DEFAULT_NAME=starters-nestjs-typeorm-postgre

JWT_ACCESS_SECRET=secret
JWT_ACCESS_EXPIRE=900 # 15m in s
JWT_REFRESH_SECRET=secret
JWT_REFRESH_EXPIRE=604800 # 7d in s
JWT_ISSUER=

CACHE_HOST=localhost
CACHE_PORT=6379

LOGGER_PATH=logs/

MAIL_TEMPLATES_PATH=src/common/mail/templates/
MAIL_HOST=
MAIL_PORT=
MAIL_SENDER=
MAIL_USER=
MAIL_PASS=
MAIL_SECURE=

SEED_SUPER_USERNAME=
SEED_SUPER_EMAIL=
SEED_SUPER_PASSWORD=

