# server 
APP_MODE=development
APP_PORT=5001
APP_URL=http://localhost:5001

# auth
AUTH_TOKEN_VERIFICATION_EXPIRE=86400 # 1d in s
AUTH_TOKEN_RESETPASSWORD_EXPIRE=900 # 15m in s

AUTH_JWT_ACCESS_SECRET=
AUTH_JWT_ACCESS_EXPIRE=900 # 15m in s
AUTH_JWT_REFRESH_SECRET=
AUTH_JWT_REFRESH_EXPIRE=604800 # 7d in s
AUTH_JWT_ISSUER=adrianz

# databases
DATABASE_DEFAULT_HOST=localhost
DATABASE_DEFAULT_PORT=5432
DATABASE_DEFAULT_USERNAME=
DATABASE_DEFAULT_PASSWORD=
DATABASE_DEFAULT_NAME=

# caches
CACHE_DEFAULT_HOST=localhost
CACHE_DEFAULT_PORT=6379

# loggers
LOGGER_DEFAULT_PATH=logs/

# mailers 
MAILER_DEFAULT_TEMPLATES_PATH=src/common/mail/templates/
MAILER_DEFAULT_HOST=
MAILER_DEFAULT_PORT=
MAILER_DEFAULT_SENDER=
MAILER_DEFAULT_USER=
MAILER_DEFAULT_PASS=
MAILER_DEFAULT_SECURE=

# storages
STORAGE_DEFAULT_ENDPOINT=
STORAGE_DEFAULT_REGION=
STORAGE_DEFAULT_ACCESS_KEY_ID= 
STORAGE_DEFAULT_SECRET_ACCESS_KEY= 
STORAGE_DEFAULT_FORCE_PATH_STYLE=true
STORAGE_DEFAULT_BUCKET=

# firebase
FIREBASE_DEFAULT_SERVICEACCOUNT_PATH=secrets/service-account.json

# misc 
SEED_USERS_PASSWORD=
